<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body d-flex" style="flex-wrap: wrap !important;">
                <div *ngFor="let item of uf">
                    <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="{{item.nome}}" (click)="buscarCNESPorEstado(item)">
						<img src='{{item.src}}' class="p-2" width="50" height="auto" alt="{{item.nome}}">  					
					</button>
                </div>
            </div>
        </div>
        <app-progress-bar *ngIf="isLoading">loading</app-progress-bar>
        <div *ngIf="error" class="alert alert-danger" role="alert">
            Ocorreu um erro inesperado. tente novamente mais tarde!
        </div>
        <div class="col-md-12" *ngIf="estabelecimentosUf.length != 0">
            <h5 class="titulo-tabela">
                <b>Lista de CNES: {{currentUF}}</b>
            </h5>
            <table class="table table-striped" style="text-align: center;">
                <thead>
                    <tr style="text-align: center;">
                        <th>Detalhes</th>
                        <th>CNES</th>
                        <th>IBGE</th>
                        <th>Nome Fantasia</th>
                        <th>Unidade</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of estabelecimentosUf | paginate: { itemsPerPage: contador, currentPage: pag }">
                        <td>
                            <button class="btn btn-link" (click)="openDialog(item) ">
                                <i class="mdi mdi-arrange-send-backward fa-2x">
                                </i>
                            </button>
                        </td>
                        <td>{{item.codigoCNES}}</td>
                        <td>{{item.codigoIBGE}}</td>
                        <td>{{item.nomeFantasia}}</td>
                        <td>{{item.descricaoTipoUnidade}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="text-right" *ngIf="estabelecimentosUf.length != 0 && estabelecimentosUf.length > contador">
                <pagination-controls (pageChange)="pag = $event"></pagination-controls>
            </div>
        </div>
    </div>
</div>