
.mini-sidebar .top-navbar {
    .navbar-header {
        width: 70px;
        text-align: center;
    }
}

.mini-sidebar {
    .navbar-brand span{
        display: none;
    }
}


@media(max-width:1167px) {
    .mini-sidebar {
            .left-sidebar,
            .sidebar-footer {
                left: -240px;
            }
        
    }
}