<div id="main-wrapper" [ngClass]="
    {
        'defaultdark': color == 'defaultdark',
        'mini-sidebar': showMinisidebar
    }
">
    <header class="topbar">
        <nav class="d-flex top-navbar navbar-expand-md navbar-dark bg-dark">
            <div class="navbar-collapse">
                <app-header class="w-100" (toggleSidebar)="toggleSidebar()"></app-header>
            </div>
        </nav>
    </header>
    <aside class="left-sidebar">
        <div class="scroll-sidebar" [perfectScrollbar]="config">
            <app-sidebar></app-sidebar>
        </div>
    </aside>
    <div class="page-wrapper">
        <div class="container-fluid">
            <app-breadcrumb></app-breadcrumb>
            <router-outlet></router-outlet>     
        </div>
    </div>
</div>
