<ul class="navbar-nav mr-auto float-left">
    <li (click)="toggleSidebar.emit()" class="nav-item m-l-10 d-block d-lg-none"> <a class="nav-link sidebartoggler text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
</ul>
<ul class="navbar-nav my-lg-0 float-right">
    <li class="nav-item dropdown" ngbDropdown placement="bottom-right">
        <img src="assets/images/logo-cnes2.png" class="p-3" width="100" height="auto" alt="homepage">
    </li>
</ul>