<div *ngIf="isLoading" class="text-center p-20">
    <app-loader>Loading</app-loader>
    <!-- <div class="spinner-grow text-info" style="width: 3rem; height: 3rem;" role="status"></div> -->
</div>
<div class="col-md-12" *ngIf="!isLoading">
    <h5>Total de Estabelecimentos encontrados: {{this.estabelecimentos.length}}</h5>
    <div *ngIf="error" class="alert alert-danger" role="alert">
        Ocorreu um erro inesperado. tente novamente mais tarde!
    </div>
    <table *ngIf="estabelecimentos.length != 0" class="table table-striped" style="text-align: center;">
        <thead>
            <tr style="text-align: center;">
                <th>Detalhes</th>
                <th>CNES</th>
                <th>IBGE</th>
                <th>Nome Fantasia</th>
                <th>Unidade</th>
            </tr>
        </thead>
        <tbody *ngIf="estabelecimentos.length != 0">
            <tr *ngFor="let item of estabelecimentos | paginate: { itemsPerPage: contador, currentPage: pag }">
                <td>
                    <button class="btn btn-link" (click)="openDialog(item) ">
						<i class="mdi mdi-arrange-send-backward fa-2x">
						</i>
					</button>
                </td>
                <td>{{item.codigoCNES}}</td>
                <td>{{item.codigoIBGE}}</td>
                <td>{{item.nomeFantasia}}</td>
                <td>{{item.descricaoTipoUnidade}}</td>
            </tr>
        </tbody>
    </table>
    <div class="text-right" *ngIf="estabelecimentos.length != 0">
        <pagination-controls (pageChange)="pag = $event"></pagination-controls>
    </div>
</div>