<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body d-flex flex-sm-wrap">
                <div class="col-2" *ngFor="let item of tipos">
                    <button type="button" class="btn btn-info" (click)="buscarCNESPorTipo(item)">
                        <span *ngIf="isLoading && item.value == tipoAcionado.value" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        {{item.nome}} 			
					</button>
                </div>
            </div>
        </div>
        <div *ngIf="error" class="alert alert-danger" role="alert">
            Ocorreu um erro inesperado. tente novamente mais tarde!
        </div>
        <div class="col-md-12 " *ngIf="estabelecimentosTipo.length !=0 ">
            <h5 class="titulo-tabela">
                <b>Lista de CNES do tipo Gestão: {{tipoAcionado.nome}}</b>
            </h5>
            <table class="table table-striped " style="text-align: center; ">
                <thead>
                    <tr style="text-align: center; ">
                        <th>Detalhes</th>
                        <th>CNES</th>
                        <th>IBGE</th>
                        <th>Nome Fantasia</th>
                        <th>Unidade</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of estabelecimentosTipo | paginate: { itemsPerPage: contador, currentPage: pag } ">
                        <td>
                            <button class="btn btn-link" (click)="openDialog(item) ">
                                <i class="mdi mdi-arrange-send-backward fa-2x">
                                </i>
                            </button>
                        </td>
                        <td>{{item.codigoCNES}}</td>
                        <td>{{item.codigoIBGE}}</td>
                        <td>{{item.nomeFantasia}}</td>
                        <td>{{item.descricaoTipoUnidade}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="text-right " *ngIf="estabelecimentosTipo.length !=0 && estabelecimentosTipo.length> contador">
                <pagination-controls (pageChange)="pag = $event"></pagination-controls>
            </div>
        </div>
    </div>
</div>