<div class="col-12">
    <div class="card">
        <h1 mat-dialog-title>Detalhes Estabelecimentos</h1>
        <div class="col-8 p-0 d-flex">
            <div class="col-4 p-0 ">
                <h2>Tipo Gestão</h2>
                <h3>{{data.tipoGestao}}</h3>
            </div>
            <div *ngIf="data.numeroTelefone" class="col-4">
                <h2>Telefone</h2>
                <h3>{{data.numeroTelefone}}</h3>
            </div>
        </div>
        <div class="col-12 p-0 d-flex">
            <div class="col-4 p-0 ">
                <h2>Logradouro</h2>
                <h3>{{data.nomeLogradouro + ' Nº: ' + data.numeroEndereco}}</h3>
            </div>
            <div class="col-2 p-0">
                <h2>Bairro</h2>
                <h3>{{data.nomeBairro}}</h3>
            </div>
            <div class="col-2 p-0">
                <h2>CEP</h2>
                <h3>{{data.codigoCEP}}</h3>
            </div>
            <div class="col-2 p-0">
                <h2>UF</h2>
                <h3>{{data.siglaEstado}}</h3>
            </div>
            <div class="col-2 p-0 ">
                <h2>Município</h2>
                <h3>{{data.municipio}}</h3>
            </div>
        </div>
        <div>
            <button class="btn btn-info" mat-dialog-close>fechar</button>
        </div>
    </div>
</div>