<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"><span class="lstick"></span>CNES por Tipo Gestão</h4>
                <div *ngIf="error" class="alert alert-danger" role="alert">
                    Ocorreu um erro inesperado. tente novamente mais tarde!
                </div>
                <div *ngIf="isLoading" class="text-center p-20">
                    <div class="spinner-grow text-info" style="width: 3rem; height: 3rem;" role="status"></div>
                </div>
                <div *ngIf="!isLoading && !error">
                    <div style="height: 220px">
                        <canvas baseChart height="100px" [data]="doughnutChartData" [labels]="doughnutChartLabels" [options]="doughnutChartOptions" [legend]="doughnutChartLegend" [chartType]="doughnutChartType" [colors]="[{backgroundColor: ['rgb(116, 90, 242)', 'rgb(38, 198, 218)', 'rgb(30, 136, 229)']}]">
                    </canvas>
                    </div>
                    <table class="table vm font-14">
                        <tr>
                            <td class="b-0">Dupla</td>
                            <td class="text-right font-medium b-0">{{porcentagemDupla + "%"}}</td>
                        </tr>
                        <tr>
                            <td>Municipal</td>
                            <td class="text-right font-medium">{{porcentagemMunicipal + "%"}}</td>
                        </tr>
                        <tr>
                            <td>Estadual</td>
                            <td class="text-right font-medium">{{porcentagemEstado + "%"}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"><span class="lstick"></span>Informações Adicionais</h4>
                <div style="height: 368px">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Campo</th>
                                <th scope="col">Valor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Fonte</td>
                                <td><a href="http://www.visualizador.inde.gov.br">http://www.visualizador.inde.gov.br</a></td>
                            </tr>
                            <tr>
                                <td>Autor</td>
                                <td>Sala de Apoio à Gestão Estratégica - SAGE</td>
                            </tr>
                            <tr>
                                <td>Última Atualização</td>
                                <td>12 de Junho de 2018</td>
                            </tr>
                            <tr>
                                <td>Criado</td>
                                <td>15 de Dezembro de 2015</td>
                            </tr>
                            <tr>
                                <td>Órgão - Esfera</td>
                                <td>Federal</td>
                            </tr>
                            <tr>
                                <td>Órgão - Poder</td>
                                <td>Executivo</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>